/*1. Update the following properties to a selector that would nest all other elements on the page:
  - Set the default font family to be `Roboto`
  - Set the text color to `#222`
  - Set line height to `1.4`
  - Update font size to `110%`
  - Set background color to white*/

html {
    box-sizing: border-box;
    font-family: Roboto;
    color: #222;
    line-height: 1.4;
    font-size: 110%;
    background-color: white;
}

*, *::before, *::after {
    box-sizing: inherit;
 }

/*2. Select the body 
  - Remove `margin` for all sides on the element*/

body {
    margin: 0;
}

/*3. Update css to include snippet covered in class to apply `border-box` to calculate widths of elements.*/

/*above!*/

/*4. Select img
  - Set the `width` to be `100%`*/

img {
    width: 100%;
}

/*5. Add a class for the logo and update the following in the css
  - Change width to be `160px`
  - Confirm the display property is correctly set so that the logo is displayed on its own line in the browser 
  - Center the logo in the middle of the screen*/

.logo {
    display: block; 
    width: 160px;
    margin: 0 auto;
}

/*6. Apply the class of `wrapper` to elements that appear to be contained to a max-width. *Hint: It would not be on the sections as they would span the whole page. Try all divs directly nested within a `section`.*/

/*inside html*/

/*7. Select `.wrapper`
  - Give it a max width of 900px;
  - Center the content using the property `margin` without applying specific values. Think automatically calculated on left and right.
  - Add padding to the top and bottom with the value of `1.5em` and set the left and right value to `0`*/

.wrapper {
    max-width: 900 px;
    margin: 0 auto;
    padding: 1.5em 0;

}

/*8. Select `header`
  - Add padding to the top and bottom with the value of `1.5em` and set the left and right value to `0`*/  

header {
    padding-top: 1.5em 0;
}

header nav {
    text-align:center;
}
/*9. Update the `nav` by adjusting the following using the correct selector for the task:
  - Remove bullets
  - Place list items beside one another
  - Remove default padding on the unordered list
  - Center text within the link after padding has been applied to the link*/

header nav ul {
    list-style-type: none;
    display: inline-block;
    padding-left: 0;
}

/*10. Update the `nav` links
  - Apply an appropriate display property value so that you are able to add padding
  - Add padding to the top and bottom with the value of `.5em` and set the left and right value to `.75em` 
  - Give links a `border radius` of `8px`*/

header nav ul li { 
    display: inline;
}

nav a {
    display: inline-block;
    padding: .5em .75em;
    border-radius: 8px;
}
/*11. Update `nav` link states for `link` and `visited`
  - Background color is purple
  - Text color is white
  - Solid border that is 2px solid white
  - Remove underline*/

a:link {
    background-color: purple;
    color: white;
    border: 2px solid white;
}

a:visited {
    background-color: purple;
    color: white;
    border: 2px solid white;
}

/*12. Update `nav` link states for `hover` and `focus`
  - Background color is white
  - Text color is purple
  - Solid border that is 2px solid purple*/   
    
a:hover {
    background-color: white;
    color: purple;
    border: 2px solid purple;
}

a:focus {
    background-color: white;
    color: purple;
    border: 2px solid purple;
}
/*13. Select element with class of `hero`
  - Set width to be 100%
  - Add padding to the top and bottom with the value of `10em` and set the left and right value to `0`
  - Add `background-image: url("../images/greatest-90s-fashion-trends.webp");`
  - Add `background-repeat: no-repeat;`
  - Add `background-size: cover;`
  - Add `background-position: top center;`
  - Note: We will be getting into more about the background property next week so I'm not expecting you to fully understand, just apply.*/

.hero {
    width: 100%;
    padding: 10em 0em;
    background-image: url("../images/greatest-90s-fashion-trends.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center; 
    
}

/*14. Select the `h1` with the hero section
  - Set width to `75%`
  - Add padding to all sides with value `.5em`
  - Center the content using the property `margin` without applying specific values. Think automatically calculated on left and right.
  - Change text color to white
  - Align text in the center
  - Change font size to 2rem
  - Apply a text shadow with offsets and blur of 2px, and set color using `rgba(0,0,0,.8)`
  - Change background color to use `rgba(0,0,0,.25)`*/

h1, .hero {
    width: 75%;
    padding: .5em .5em .5em .5em;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
    font-size: 2rem;
    text-shadow: 2px 2px 2px rgba(0,0,0,.8);
    background-color: rgba(0,0,0,.25);
}

/*15. Select the section with the class of `trends`
  - Change background color to `purple`*/

.trends {
    background-color: purple;
}

/*16. Select the figure element within the section with the class of `trends`
  - Set `width` to `22%`
  - Apply an appropriate display property value so that you are able to display the figures beside one another
  - Align the figures to be centered within its parent container*/

section.trends figure {
    width: 22%;
    display: inline-block; 
    text-align: center;
}

/*17. Select the caption within the figure
  - Change text color to `white`
  - Adjust style of text to be `italic`*/

figcaption {
    color: white;
    text-transform: italic;
}

/*18. Select element with the class of `icon`
  - Apply an appropriate display property value so that you are able to add padding
  - Add padding to the top and bottom with the value of `2em` and set the left and right value to `0`*/ 

.icon {
    display: inline-block;
    padding: 2em 0em 2em 0em;
}

/*19. Select the images within the element with the class of `.icon`
  - Change width to be 260px
  - float the element to the left
  - Give some space to the right of the image with margin set to `2em`*/       

.icon img{
    width: 260px;
    float: left;
    margin-right: 2em;
}

/*20. Select the p that follows the last fashion icon (Jennifer Aniston) 
  - Clear the left float so that things display as they should and do not overlap*/

icon + p {
    clear: left; 
}

/*21. There is an unfinished section called Feature Articles. Select the element with the class of `.featured-articles`
  - Set it to not display on the page at all*/

.featured-articles {
    display: none;
}

/*22. Select footer
  - Change background color to black
  - Change text color to white*/

footer {
    background-color: black;
    color: white;
}

/*23. Select the p inside footer
  - Make sure it is contained using the class of `wrapper` 
  - Ajust alignment to be centered
  - Add padding to the top and bottom with the value of `8px` and set the left and right value to `0`*/    
     
footer .wrapper {
    text-align: center;
    padding: 8px, 0;
}